# Git
.git
.gitignore
.gitattributes

# Docker
docker/
Dockerfile
docker-compose.yml
.docker
.dockerignore

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
media/
static/
staticfiles/
postgres-data/
logs/