# Development
**/__pycache__      # Ignore in all directories
**/*.pyc
.venv/
.env
.env.*
!.env.example       # Keep example file

# Version Control
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose*.yml
.docker/

# IDE
.idea/
.vscode/

# Testing
tests/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Data
media/              # User uploads
postgres-data/      # Database files
logs/               # Log files